.mapping {
    height: 800px;
    width: 800px;
    opacity:0.9;
    margin-left: 100px;
    margin-top: 30px;
    /* position: absolute; */
    background-color: #9fc7b0;

}

.graph {
    margin-left: 100px;
}

.line {
    stroke:rgb(5, 5, 5);
    stroke-width:2;
    margin-left: 50%;
  }

.mapLogo img{
    /* position: relative; */
    z-index: 10;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

.mapLogo{
    position: relative;
}